<div class="container">
  <div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">

      <mat-card>
        <h2 class="page-header">Create Account</h2>
        <form>
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="name" name="name" placeholder="Name" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="number" name="number" placeholder="Phone number" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="email" matInput [(ngModel)]="email" name="email" placeholder="Email address" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="password" matInput [(ngModel)]="password" name="password" placeholder="Password" required>
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput [(ngModel)]="confirm" name="confirm" placeholder="Confirm password" required>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" type="submit">Sign Up</button>
        </form>
        <br><br>
        <p align="center">
            OR<br>Sign up with your social media account
        </p>
        <div align="center">
          <a href="javascript:void(0)" matTooltip="Google" style="padding: 5px;">
            <i class="fa fa-google-plus-official fa-3x"></i>
          </a>
          <a href="javascript:void(0)" matTooltip="Facebook" style="padding: 5px;">
            <i class="fa fa-facebook-official fa-3x"></i>
          </a>
          <a href="javascript:void(0)" matTooltip="Twitter" style="padding: 5px;">
            <i class="fa fa-twitter fa-3x"></i>
          </a>
          <a href="javascript:void(0)" matTooltip="GitHub" style="padding: 5px;">
            <i class="fa fa-github fa-3x"></i>
          </a>
        </div>
      </mat-card>
    </div>
    
    <div class="col-md-4">
    </div>

  </div>
</div>